body {
    display: flex;
    flex-direction: column;
    background-color: coral;
    align-items: center;
}

.head {
    font-size: 3rem;
    align-content: flex-start;
}

.container {
    
}

.end {
    font-size: 2rem;
    align-content: flex-end;
}