body {
    display: flex;
    flex-direction: column;
    background-color: coral;
    align-items: center;
    padding: 2rem;
}

.head {
    font-size: 3rem;
    align-content: flex-start;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 2px solid black;
    height: 80vh;
    width: 60%;
}

.end {
    font-size: 2rem;
    align-content: flex-end;
}