body {
    display: flex;
    flex-direction: column;
    background-color: coral;
    align-items: center;
    padding: 0;
}

h1 {
    margin: .5rem;
    align-content: flex-start;
    margin-bottom: 1rem;
}

.instructions {
    font-size: 1.25rem;
}

button {
    margin: .5rem;
    font-size: 1.5rem;
    padding: .5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 2px solid black;
    height: 80vh;
    width: 60%;
}

footer {
    font-size: 1.5rem;
    align-content: flex-end;
    margin-top: 2rem;
    margin-bottom: auto;
}